<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WeatherForYou.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EB44F7801D55953E000B0885</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB44F79F1D55953E000B0885</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB44F7AA1D55953E000B0885</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
